<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Controls</mat-card-title>
      <mat-card-subtitle>Tweak the following values to change the appearance of the graph.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="controls">
          <div class="force alpha">
            <p><label>alpha</label> Simulation activity</p>
            <div class="alpha_bar" (click)="updateAll()">
              <div id="alpha_value"></div>
            </div>
          </div>

          <div class="force" formGroupName="center">
            <p><label>center</label> Shifts the view, so the graph is centered at this location.</p>
            <label>
              x
              <output>{{ this.form.get('center.x')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #centerX formControlName="x">
            </label>
            <label>
              y
              <output>{{ this.form.get('center.y')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #centerY formControlName="y">
            </label>
          </div>

          <div class="force" formGroupName="charge">
            <p><label><input type="checkbox" checked formControlName="enabled">
              charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
            <label title="Negative strength repels nodes. Positive strength attracts nodes.">
              strength
              <output>{{ this.form.get('charge.strength')?.getRawValue() }}</output>
              <input type="range" min="-200" max="50" step=".1" #chargeStrength formControlName="strength">
            </label>
            <label title="Minimum distance where force is applied">
              distanceMin
              <output>{{ this.form.get('charge.distanceMin')?.getRawValue() }}</output>
              <input type="range" min="0" max="50" step=".1" #chargeDistanceMin formControlName="distanceMin">
            </label>
            <label title="Maximum distance where force is applied">
              distanceMax
              <output>{{ this.form.get('charge.distanceMax')?.getRawValue() }}</output>
              <input type="range" min="0" max="2000" step=".1" #chargeDistanceMax formControlName="distanceMax">
            </label>
          </div>

          <div class="force" formGroupName="collide">
            <p><label><input type="checkbox" checked formControlName="enabled"> collide</label>
              Prevents nodes from overlapping</p>
            <label>
              strength
              <output>{{ this.form.get('collide.strength')?.getRawValue() }}</output>
              <input type="range" min="0" max="2" step=".1" #collideStrength formControlName="strength">
            </label>
            <label title="Size of nodes">
              radius
              <output>{{ this.form.get('collide.radius')?.getRawValue() }}</output>
              <input type="range" min="0" max="100" step="1" #collideRadius formControlName="radius">
            </label>
            <label
              title="Higher values increase rigidity of the nodes (WARNING: high values are computationally expensive)">
              iterations
              <output>{{ this.form.get('collide.iterations')?.getRawValue() }}</output>
              <input type="range" min="1" max="10" step="1" #collideIterations formControlName="iterations">
            </label>
          </div>

          <div class="force" formGroupName="forceX">
            <p><label><input type="checkbox" formControlName="enabled">
              forceX</label>
              Acts like gravity. Pulls all points towards an X location.</p>
            <label>
              strength
              <output>{{ this.form.get('forceX.strength')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #forceXStrength formControlName="strength">
            </label>
            <label
              title="The X location that the force will push the nodes to (NOTE: This demo multiplies by the svg width)">
              x
              <output>{{ this.form.get('forceX.x')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #forceXX formControlName="x">
            </label>
          </div>

          <div class="force" formGroupName="forceY">
            <p><label><input type="checkbox" formControlName="enabled">
              forceY</label>
              Acts like gravity. Pulls all points towards a Y location.</p>
            <label>
              strength
              <output>{{ this.form.get('forceY.strength')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #forceYStrength formControlName="strength">
            </label>
            <label
              title="The Y location that the force will push the nodes to (NOTE: This demo multiplies by the svg height)">
              y
              <output>{{ this.form.get('forceY.y')?.getRawValue() }}</output>
              <input type="range" min="0" max="1" step="0.01" #forceYY formControlName="y">
            </label>
          </div>

          <div class="force" formGroupName="link">
            <p><label><input type="checkbox" checked formControlName="enabled">
              link</label> Sets link length</p>
            <label title="The force will push/pull nodes to make links this long">
              distance
              <output>{{ this.form.get('link.distance')?.getRawValue() }}</output>
              <input type="range" min="0" max="100" step="1" #linkDistance formControlName="distance">
            </label>
            <label
              title="Higher values increase rigidity of the links (WARNING: high values are computationally expensive)">
              iterations
              <output>{{ this.form.get('link.iterations')?.getRawValue() }}</output>
              <input type="range" min="1" max="10" step="1" #linkIterations formControlName="iterations">
            </label>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Chart</mat-card-title>
      <mat-card-subtitle>This is the dependency graph.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <svg></svg>
    </mat-card-content>
  </mat-card>
</div>
